*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

h1{
    font-size: 1rem;
}

div{
    font-size: 40px;
}

p{
    font-size: 1.5em;
}

.rojo{
    background-color: crimson;
    width: 100vw;
    height: calc(100vh / 3);
}

.azul{
    background-color: cornflowerblue;
    width: 100vw;
    height: 33.33333vh;
}

.amarillo{
    background-color: gold;
    width: 100vw;
    height: 33.33333vh;
}

@media only screen and (max-width: 1200px) {
    .rojo{
        background-color: crimson;
        width: 100vw;
        height: calc(100vh / 3);
    }

    .azul{
        background-color: cornflowerblue;
        width: 100vw;
        height: 33.33333vh;
    }

    .amarillo{
        background-color: gold;
        width: 100vw;
        height: 33.33333vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 700px) {
    .rojo{
        background-color: rgb(220, 20, 170);
        width: 100vw;
        height: calc(100vh / 3);
    }

    .azul{
        background-color: rgb(32, 174, 179);
        width: 100vw;
        height: 33.33333vh;
    }

    .amarillo{
        background-color: rgb(54, 179, 22);
        width: 100vw;
        height: 33.33333vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 400px) {
    .rojo{
        background-color: rgb(20, 160, 220);
        width: 100vw;
        height: calc(100vh / 3);
    }

    .azul{
        background-color: rgb(100, 15, 211);
        width: 100vw;
        height: 33.33333vh;
    }

    .amarillo{
        background-color: rgb(179, 22, 59);
        width: 100vw;
        height: 33.33333vh;
    }
}